:root {
    --primary-color3: #d4d4d4;
  }

.StyledContainer1 {
    display: flex;
    position:relative;
    overflow: hidden;
    align-items: flex-start;
    gap: 36px;
    width: 20%;
    height: 300px;
    border: 2px solid var(--primary-color3);
    border-radius: 15px;
    font-family: sans-serif;
    transition: all 300ms ease;
}


.StyledContainer1 img {
    overflow: hidden;
    position: absolute;
    height: 100%;
    
}

.StyledContent1 {
    position: absolute;
    bottom: 55px;
    left: 10%;
    font-size: 21px;
    font-weight: 600;
}
.StyledWriter1 {
    position: absolute;
    bottom: 15px;
    right: 10%;
    font-size: 19px;
    font-weight: 500;
}
.StyledAddress1 {
    position: absolute;
    bottom: 35px;
    left: 10%;
  font-size: 18px;
  font-weight: 500;
}
.StyledPrice1 {
    position: absolute;
    bottom: 15px;
    left: 10%;
    font-size: 15px;
    font-weight: bold;
}

.StyledContainer1:hover{
  box-shadow: 0 0 12px var(--primary-color3);
  transform: scale(1.1);
  color: var(--primary-color3);
}