.nickname {
    position: absolute;
    right: 40%;
    color: #07afd9;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.button1 {
    position: absolute;
    right: 10px;
    color: #07afd9;
    background-color: white;


    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(26, 239, 242, 0.2);
    transition: 0.4s;
}

.button1:hover {
    color: white;
    box-shadow: 0 0 20px rgba(108, 196, 228, 0.6);
    background-color: #07afd9;
  }

  .logo {
    position: absolute;
    left: 5%;
    bottom: 25%;
    display: flex;
    justify-content: center;
    color: #141414;
    font-weight: bold;
  }